.advantages {
  padding-top: 32px;
}

.advantages__title-main {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0;
  margin-bottom: 38px;
}

.advantages__description-main {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.advantages__blue-decoration {
  background-color: #81B3D2;
  background-image: url(../img/white-decoration.svg);
  background-repeat: no-repeat;
  background-position: top;
}

.advantages__blue {
  background-color: #81B3D2;
}

.advantages__title-blue-decoration {
  padding-top: 70px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages__title-blue {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages__description-blue-decoration {
  padding-bottom: 35px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages__description-blue {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.advantages__number-blue {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.sublist {
  padding-left: 65px;
}

.sublist__title {
  font-weight: 700;
  margin: 0;
  padding-top: 30px;
}
