.contacts-footer__text {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.contacts-footer__link {
  display: block;
  text-align: center;
  color: #000000;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    min-width: 166px;
  }
}

.contacts-footer__text:hover {
  color: #81b3d2;
}

.contacts-footer__text:active {
  opacity: 0.3;
}

.contacts-footer__wrapper {
  padding-top: 31px;

  @media (min-width: @tablet-width) {
    padding-top: 49px;
    padding-bottom: 46px;
    padding-left: 45px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 104px;
  }
}
