.contacts-footer__text {
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.contacts-footer__link {
  display: block;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.contacts-footer__container {
  padding-top: 39px;
}
