.copyright__text {
  display: block;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 47px;
  padding-bottom: 29px;
  padding-left: 95px;
}

.copyright {
  display: flex;
}

.copyright__icon {
  margin-top: 40px;
  margin-left: 15px;
}


