.feedback__title-main {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 36px;
}

.feedback__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 20px;
}

.feedback__description {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 28px;
}

.feedback__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.feedback__fieldset {
  border-bottom: 1px solid;
  border-color: #e5e5e5;
}

.feedback__text {
  width: 279px;
  height: 150px;
  background-color: #f2f2f2;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.3);
  padding-left: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 16px;
  padding-right: 16px;
  border: 0;
  margin-bottom: 56px;
}

.feedback__button {
  width: 281px;
  height: 58px;
  margin-left: 19px;
}

.feedback__legend {
  display: flex;
  justify-content: end;
  margin-right: 20px;
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}

.feedback__textarea {
  display: flex;
  flex-direction: column;
}
