.feedback__title-main {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 36px;

  @media (min-width: @tablet-width) {
    padding-top: 64px;
    font-size: 30px;
  }
}

.feedback__description {
  font-size: 14px;
  line-height: 21px;
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 28px;
  width: 306px;

  @media (min-width: @tablet-width) {
    width: 435px;
    line-height: 24px;
    padding-bottom: 104px;
  }
}

.feedback__fieldset {
  border-bottom: 1px solid;
  border-color: #e5e5e5;
}

.feedback__textarea {
  display: flex;
  flex-direction: column;
}

.feedback {
  display: flex;
  flex-direction: column;
}

.feedback__entry-wrapper {

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.feedback__container {
  background-color: #ffffff;
}
