
.fotos__title {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding-top: 15px;
  text-transform: uppercase;
}

.fotos__author {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}

.fotos__liked-number {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.fotos__button {
  border: 0;
  background-color: inherit;
}
