.header__logo {
  position: absolute;
  margin-left: 67px;

  @media (min-width: @tablet-width) {
    margin-left: 291px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    margin-left: 507px;
  }
}

.header__icon {
  margin-top: 17px;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.header__toggle {
  margin-left: 252px;
  padding-left: 0;
  padding-right: 0;
  width: 68px;
  height: 56px;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.header {
  min-height: 55px;
}

.header__wrapper {
  display: flex;

  @media (min-width: @tablet-width) {
    position: absolute;
  }
}

.header__container {
  background-color: #ffffff;
}
