.places__control-label {
  display: block;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 16px;
  padding-left: 62px;
  margin-left: 20px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 224px;
    margin-left: 0;
  }
}

.places__title {
  position: relative;
  margin: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 48px;
    font-size: 21px;
    padding-bottom: 28px;
    width: 308px;
  }
}

.places__title::before {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    top: 60%;
    left: 350px;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }
}

.places__title::after {
  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    top: 60%;
    right: 350px;
    width: 280px;
    height: 1px;
    background-color: #dbdbdb;
  }
}

.places__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.places-container {
  border-bottom: solid 1px;
  border-color: rgba(229, 229, 229, 1);

  @media (min-width: @tablet-width) {
    border: none;
  }
}

.places__control-checkmark {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background: #f2f2f2;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.places__control-input:hover + .places__control-checkmark {
  background: #e5e5e5;
}

.places__control-input:active + .places__control-checkmark {
  background: #d5d5d5;
  opacity: 0.3;
}

.places__control-input[type="checkbox"]:checked + .places__control-checkmark {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 12px 15px;
  content: "";
}

.places__list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    margin: auto;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}
