.registry__label {
  padding-left: 36px;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  align-items: center;
  text-transform: uppercase;
}

.registry__input {
  padding: 0;
  background-color: #f2f2f2;
  border: 0;
  width: 280px;
  height: 58px;
  margin-left: 20px;
  padding-left: 16px;
  font-size: 18px;
  color: rgba(0, 0, 0, 1);
}

.registry {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.registry__name {
  margin: 0;
}

.registry__surname {
  margin: 0;
}

.registry__patronymic {
  margin: 0;
}

.registry-container {
  border-top: solid 1px;
  border-color: rgba(229, 229, 229, 1);
  border-bottom: solid 1px;
  border-color: rgba(229, 229, 229, 1);
  padding-bottom: 23px;
}

.registry__wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.registry__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 24px;
  padding-bottom: 20px;
}

.registry__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
