.search__title {
  margin: 0;
  padding-top: 38px;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
}

.search__description {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 27px;
  color: rgba(51, 51, 51, 1);
}

.search__button {
  display: block;
  margin-left: 18px;
  width: 284px;
  padding-top: 16px;
  padding-bottom: 16px;
}
