.search__title {
  margin: 0;
  padding-top: 38px;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-top: 61px;
    font-size: 30px;
  }
}

.search__description {
  width: 261px;
  margin: 0;
  margin-left: 30px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 17px;
  padding-bottom: 27px;
  color: rgba(51, 51, 51, 1);

  @media (min-width: @tablet-width) {
    width: 435px;
    margin: auto;
    padding-bottom: 41px;
  }
}

.search__button:hover {
  background: #669EC0;
}

.search__button:active {
  background: #5496BD;
  color: rgba(255, 255, 255, 0.3);
}

.search__button {
  display: block;
  margin: auto;
  width: 284px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    width: 458px;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 66px;
  }
}
