.site-list {
  text-align: center;
  font-weight: 700;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.site-list__item:nth-child(2) {

  @media (min-width: @tablet-width) {
    margin-right: 156px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 240px;
  }
}

.site-list__item:hover {
  background: #669EC0;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.site-list__item:active {
  background: #5496BD;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.site-list__item {
  padding-top: 17px;
  padding-bottom: 12px;
  background-color:#81B3D2;
  box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);

  @media (min-width: @tablet-width) {
    padding-top: 18px;
    padding-bottom: 17px;
    background-color: #ffffff;
    box-shadow: none;
    width: 153px;
  }

  @media (min-width: @desktop-width) {
    width: 240px;
  }
}

.site-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 17px;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    padding-top: 18px;
    padding-bottom: 17px;
  }
}

.site-list__link--index {
  padding-left: 123px;
  padding-right: 123px;

  @media (min-width: @tablet-width) {
    padding-left: 48px;
    padding-right: 47px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 91px;
    padding-right: 91px;
  }
}

.site-list__link--catalog {
  padding-left: 97px;
  padding-right: 97px;

  @media (min-width: @tablet-width) {
    padding-left: 28px;
    padding-right: 27px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 71px;
    padding-right: 71px;
  }
}

.site-list__link--academy {
  padding-left: 97px;
  padding-right: 97px;

  @media (min-width: @tablet-width) {
    padding-left: 28px;
    padding-right: 27px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 71px;
    padding-right: 71px;
  }
}

.site-list__link--form {
  padding-left: 93px;
  padding-right: 93px;

  @media (min-width: @tablet-width) {
    padding-left: 25px;
    padding-right: 24px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 68px;
    padding-right: 68px;
  }
}

.site-list__link--current {

  @media (min-width: @tablet-width) {
    color: #766357;
  }
}
