.social__link {
  display: block;
  width: 48px;
  height: 48px;
}

.social__link:hover {
  background: #5496bd;
}

.social__link:active {
  background: #5496bd;
}

.social__icon:active {
  opacity: 0.3;
}

.social__list {
  width: 170px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 84px;
  margin-top: 32px;

  @media (min-width: @tablet-width) {
    margin-top: 36px;
    margin-left: 97px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 254px;
  }
}

.social__item {
  padding-right: 6px;
  padding-bottom: 6px;
}

.social__icon--vk {
  margin: 17px 12px 17px 12px;
}

.social__icon--telegram {
  margin: 15px 13px 15px 13px;
}

.social__icon--youtube {
  margin: 17px 14px 17px 14px;
}
