.social__link {
  display: block;
  width: 48px;
  height: 48px;
}

.social__list {
  display: flex;
  padding-left: 84px;
  padding-top: 34px;
}

.social__item {
  padding-right: 6px;
}

.social__icon-vk {
  margin: 17px 12px 17px 12px;
}

.social__icon-telegram {
  margin: 15px 13px 15px 13px;
}

.social__icon-youtube {
  margin: 17px 14px 17px 14px;
}
