.sublist {
  padding-left: 65px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.sublist__title {
  font-size: 18px;
  margin: 0;
  padding-top: 30px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    padding-top: 158px;
    text-align: center;
  }
}

.sublist__description {
  margin: 0;
  text-transform: uppercase;
  padding-top: 16px;
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  @media (min-width: @tablet-width) {
    padding-top: 24px;
    padding-bottom: 59px;
    text-align: center;
    text-transform: uppercase;
  }
}

.sublist__housing {
  width: 225px;

  @media (min-width: @tablet-width) {
    width: 185px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    width: 282px;
  }
}

.sublist__eating {
  padding-left: 3px;
  width: 240px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    width: 180px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
  }
}

.sublist__souvenir {
  width: 202px;

  @media (min-width: @tablet-width) {
    width: 193px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
  }
}

.sublist__item {
  @media (min-width: @tablet-width) {
    width: 256px;
    min-height: 330px;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.sublist__wrapper {
  margin-bottom: 52px;
  padding-top: 1px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.sublist__list {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.sublist__icon-housing {
  position: absolute;
  left: -49px;
  top: 25px;

  @media (min-width: @tablet-width) {
    width: 75px;
    height: 72px;
    left: 90px;
    top: 60px;
  }

  @media (min-width: @desktop-width) {
    left: 160px;
    top: 60px;
  }
}

.sublist__icon-eating {
  position: absolute;
  left: -49px;
  top: 158px;

  @media (min-width: @tablet-width) {
    width: 76px;
    height: 75px;
    left: 345px;
    top: 60px;
  }

  @media (min-width: @desktop-width) {
    left: 562px;
    top: 60px;
  }
}

.sublist__icon-souvenir {
  position: absolute;
  left: -45px;
  top: 272px;

  @media (min-width: @tablet-width) {
    width: 64px;
    height: 72px;
    left: 607px;
    top: 60px;
  }

  @media (min-width: @desktop-width) {
    left: 964px;
    top: 60px;
  }
}
