.sublist {
  padding-left: 65px;
}

.sublist__title {
  font-size: 18px;
  margin: 0;
  padding-top: 30px;
}

.sublist__wrapper {
  margin-bottom: 52px;
  padding-top: 1px;
}

.sublist__description {
  margin: 0;
  padding-top: 16px;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
