.welcome {
  background-image: url("../img/diliver.svg"), url("../img/background-welcome.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  background-color: #000000
}

.welcome__img {
  margin-left: 46px;
  margin-top: 52px;
  margin-bottom: 67px;
}

.welcome__title {
  margin: 0;
}
